body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px
}

/* .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4)
} */

.slides-navigation {
    z-index: 6;
}

.slides-navigation a.prev,
.slides-navigation a.next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../img/icons/next.png);
}

.titleMessage {
    position: absolute;
    z-index: 5;
    text-align: center;
    margin: 0 auto;
    top: 15%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 175px;
    min-width: 500px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.titleMessage .heading {
    color: #fff;
    /* text-shadow: 1px 1px 5px #faf606; */
    font-weight: 100;
    font-size: 23px;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 23px;
}

/* .site-graphic {
    z-index: 1;
    position: relative;
    top: 100px;
    width: 416px;
} */
 /* height: 439px; */
    /* left: 0px; */
 
    
/* #aboutMe .row {
    z-index: 2;
} */
    /* position: relative; */
    /* margin-top: -200px; */

    

.section {
    padding: 100px 0;
}

.aboutSection {
    background-color: #fff;
    padding: 100px 0;
}

.aboutImage {
    max-width: 100%;
}

.skillsSection {
    background-color: #f39c12;
    color: #fff
}

.contactButton {
    color: #f39c12;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #f39c12;
    border-radius: 20px
}

.contactButton:hover {
    text-decoration: none;
    color: #f39c12;
    background-color: #fff
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #000;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none
}

.squareInnerContainer:before,
.squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
    right: 0px
}

.squareInnerContainer:after {
    left: 0px
}

.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #f39c12
}

.squareContent h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444
}

.copyrightSection {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}

.copyrightSection p {
    margin: 0;
}

#navigation {
    background-color: #f39c12;
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler-icon {
    background: url(../img/icons/menu.png);
    background-size: 100%;
}

.fixedNav #navigation {
    position: fixed;
    top: 0
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) center center no-repeat;
}

.portfolioBox {
    background: rgb(237, 237, 237);
    border: 1px solid #f39c12
}

.resumeBox {
    padding-right: 30px;
    margin-bottom: 100px;
}

.filter a {
    color: #f39c12;
    background-color: #fff;
    border: 1px solid #f39c12;
    padding: 5px 9px;
    display: block;
    font-size: 12px;
}

#filters dl,
ol,
ul {
    padding-left: 0px;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background-color: #f39c12;
    border-color: #f39c12;
    color: #fff;
}

.filter {
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.itemsContainer {
    width: 100%;
}

.items li img {
    width: 100%;
    /* border: 1px solid #000; */
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -42px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #f39c12;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.2s;
    -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

/* .items .openButton {
    float: left;
    left: -250px;
} */

.items .projectLink {
    /* float: left; */
    left: -250px;
}

/* .items .item:hover .openButton {
    left: 0px;
} */

.items .item:hover .projectLink {
    left: 0px;
}

.items .item:hover img {
    -webkit-transform: scale(1.05, 1.05);
    -moz-transform: scale(1.05, 1.05);
    -o-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    -transform: scale(1.05, 1.05);
}

.items {
    padding: 0;
}

.resumeBox {
    font-size: 12px;
}

.resumeBox .positionAndYear {
    margin-left: 30px;
    margin-top: 30px;
    font-weight: bold;
    line-height: .25;
}

.resumeBox .company {
    margin-left: 30px;
    font-weight: bold;
    line-height: .25;
    margin-bottom: 10px;
}

.resumeBox ul {
    font-weight: 300;
    margin-left: 60px;
    margin-bottom: 40px;
}

.resumeSection li {
    /* text-indent: 18px; */
}

.resumeBox p {
    margin-left: 30px;
    font-size: 11px;
    font-weight: 300;
}

.resumeBox a {
    color: #ac7214;
}

/* paragraph_style_5
text-indent: -26px;

                    <ul>
                        <li style="line-height: 18px; padding-left: 8px; text-indent: -8px; " class="full-width">
                            Main technology was Vignette/Storyteller</li>
                    </ul>

*/